@model IEnumerable<Molla.Application.DTOs.BanerDTO>

@{
    ViewData["Title"] = "Baners";

    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}


<div class="container col-12">

    <p>
        <a asp-action="Create">بنر جدید</a>
    </p>
    <table class="table table-responsive table-striped">
        <thead class="thead-dark">
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BanerDescription)
                </th>
                <th>
                    مدیریت
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    

                    <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BanerDescription)
                    </td>
                    <td>
                            @Html.ActionLink("ویرایش", "Edit", new { id = item.ID }) |
                            @* @Html.ActionLink("Details", "Details", new { id=item.ID }) | *@
                            @Html.ActionLink("حذف", "Delete", new { id=item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>