@using Molla.Application.DTOs;
@model ICollection<SocialLinkDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                IconSource
            </th>
            <th>
                Link
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                <td>
                        @Html.DisplayFor(modelItem => item.IconSource)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Link)
                </td>
                
                <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.ID  }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
